@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
/* font-family: 'Fira Code', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Fira Code', monospace;
font-family: 'Roboto', sans-serif; */

:root {
    --standardpadding: 15px;
    --standardmargin: 15px;

    --colo_Spanish_Gray: #999999;
    --color_Sonic_Silver: #777777;
    --color_Davys_Grey: #555555;
    --color_Dark_Charcoal: #333333;
    --color_Chinese_Black: #111111;
    --color_Midnight_Blue: #41729F;
    --color_Blue_Gray: #5885af;
    --color_Dark_Blue: #274472;
    --colo_Baby_Blue: #c3E0E5;
}

/* CSS Reset */

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
}

body {
    height: 100vh;
    font-size: 100%;
    width: 100vw;
}


/* Layout Website */

#grid_layouthome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 8fr 2fr;
    grid-template-areas:
        'emotion'
        'nav'
        'main'
        'footer';
}

.emotion {
    grid-area: emotion;
}

nav {
    background-color: var(--color_Chinese_Black);
    grid-area: nav;
}

main {
    background-color: var(--color_Dark_Charcoal);
    grid-area: main;

}

footer {
    background-color: var(--color_Chinese_Black);
    grid-area: footer;
    height: auto;
    padding-top: 1%;
}

/* emotion */

.emotion {
    background-image: url(../images/homeimg.jpg);

    background-repeat: no-repeat;
}

/* navigation */


.flexcontainer_nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding-right: 10px;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-box-shadow: 0px 10px 28px -8px rgba(0, 0, 0, 0.91);
    box-shadow: 0px 10px 28px -8px rgba(0, 0, 0, 0.91);
}

.flexitem {
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-right: 1px;
    padding: var(--standardpadding);
    font-size: 14.29px;
    white-space: nowrap;
}

.ueber_uns, .home, .projekte, .kontakt {
    flex-basis: 8%;

}

.login {
    font-size: 14px;
}

.iconprog {
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    text-align: center;
    margin: auto 6px;
    padding: var(--standardpadding);
    font-size: 38px;
    display: flex;
    flex-wrap: nowrap;
}

.iconprog p {
    font-family: 'Fira Code', monospace;
    display: inline;
    padding-left: var(--standardpadding);
    margin: 0;
    padding: 0;
}




.flexitem:hover {
    background-color: var(--color_Midnight_Blue);
    border-radius: 30px;
}

.active {
    background-color: var(--color_Midnight_Blue);
    border-radius: 30px;
}



/* Animations */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Loading Website */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color_Chinese_Black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}




@media screen and (max-width: 900px) {
    .iconprog p {
        display: none;
        animation: fade in;
        animation-duration: 2s;

    }
}


@media screen and (max-width: 390px) {


    .iconprog {
        display: none;
        animation: fade in;
        animation-duration: 2s;
    }



    /* Layout Website */

    #grid_layouthome {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 2fr 8fr 2fr;
        grid-template-areas:
            'emotion'
            'nav'
            'main'
            'footer';
    }

    .emotion {
        grid-area: emotion;
    }

    nav {
        background-color: var(--color_Chinese_Black);
        grid-area: nav;
    }

    main {
        background-color: var(--color_Dark_Charcoal);
        grid-area: main;

    }

    footer {
        background-color: var(--color_Chinese_Black);
        grid-area: footer;
    }

    /* navigation */


    .flexcontainer_nav {

        padding-right: 10px;
        padding-left: 10px;

    }

    .flexitem {
        font-family: 'Fira Code', monospace;
        text-decoration: none;
        text-align: center;
        margin: auto;
        margin-right: 1px;
        padding: var(--standardpadding);
        font-size: 12px;
        white-space: nowrap;
    }



    .login {
        font-size: 14px;
    }



}


.flexbox-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-bottom p {
    margin: 10px 0;
    font-size: 14px;
    word-spacing: 2px;
}

.socials {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.3rem 0;
}

.socials .email {
    margin: 0 10px 0 0;
}

.socials .github{
    margin: 0 0 0 10px;
}

.socials a {
    text-decoration: none;
}

.socials a:hover i {
    color: var(--color_Midnight_Blue);
}

.footer-bottom {
    width: 100vw;
    padding: 0.4% 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer-bottom p span {
    opacity: 0.4;
}