:root {    
    --standartpadding: 15px;
    --standartmargin: 15px;
}

/* CSS Reset */

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;;
}

body {
    height: 100vh;
    font-size: 100%;
}
